.filter-opencast.player-wrapper {
    position: relative;
    margin: auto;
    width: 100%;
    height: 85vh;
}

@supports (--custom:property) {
    .filter-opencast.player-wrapper[style*="--aspect-ratio"] {
        height: 0;
        width: min(100%, calc(85vh * (var(--aspect-ratio))));
        padding-top: min(85vh, calc(100% / (var(--aspect-ratio))));
    }
}

.filter-opencast .mod-opencast-paella-player,
.filter-opencast .filter-lti-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
